@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Lexend Deca', sans-serif;
}

:root{
    --main_color:#c9f31d;
    --p_colo:#8a8a8a;
    --bg_color:#1F1F1F;
    --white_color:#fff;
    --black_color:#070707;
    --border-color:rgba(255, 255, 255, 0.1);
}


body{
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.2) 0%, #22333B 20%);
}


.container{
    width: 80%;
    margin: auto;
    max-width: 1500px;
}

section{
    padding: 80px 0;
}

h1,h2,h3,h4,h5,h6{
    color: var(--white_color);
    font-family: "MD Sans", sans-serif;
}

span{
    color: var(--main_color);
}
p{
    color: var(--p_colo);
}

 /* btns */

.btns{
    display: flex;
    align-items: center;
    gap: 20px;
}
.btn{
    background: var(--main_color);
    padding: 14px 30px;
    border-radius: 10px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--black_color);
    transition: 0.3s;
}
.btn:hover{
    scale: 1.1;
}

.bg-lines span{
    position: fixed;
    top: 0;
    z-index: -1;
    height: 100%;
    background: rgba(255, 255, 255, 0.05);
    width: 1px;
    -webkit-animation: left_Right 18 infinite;
    animation: left_Right 18 infinite;
}
.bg-lines span:nth-child(1){
    left: 10%;
}
.bg-lines span:nth-child(2){
    left: 20%;
}
.bg-lines span:nth-child(3){
    left: 30%;
}
.bg-lines span:nth-child(4){
    left: 40%;
}
.bg-lines span:nth-child(5){
    left: 50%;
}
.bg-lines span:nth-child(6){
    left: 60%;
}
.bg-lines span:nth-child(7){
    left: 70%;
}
.bg-lines span:nth-child(8){
    left: 80%;
}
.bg-lines span:nth-child(9){
    left: 90%;
}




@keyframes left_Right {
    0%{
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
    50%{
        -webkit-transform: translatex(-100px);
        transform: translatex(-100px);
    }
    100%{
        -webkit-transform: translatex(0);
        transform: translatex(0);
    }
}


/*background lines */


/* Star Header */

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    transition: 0.3s;
    z-index: 100;
}
header.active{
    background: var(--black_color);
    border-bottom: 1px solid #56565697;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
header nav .logo img{
    width: 200px;
}
header nav .links{
    display: flex;
    gap: 60px;
}
header nav .links a{
    color: var(--white_color);
    text-transform: capitalize;
    font-size: 18px;
    transition: 0.3s;
}
header nav .links a:hover{
    color: var(--main_color);
}
header nav .icons{
    display: flex;
    gap: 30px;
}

header nav .icons a{
    color: var(--main_color);
    font-size: 28px;
    transition: 0.3s ;
}
header nav .icons a:hover{
    scale: 1.4;
}



/* start hero */

.back-video{
    width: 100%;
    position: absolute;
    right: 0;
    top: 11.50;
    z-index: -3;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 80%, rgba(0,0,0,0) 100%);
  mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 60%, rgba(0,0,0,0) 100%);
}


.hero{
    padding-top: 200px;
    height: 118.50vh;
    justify-content: center;
    align-items: center;
}

.hero .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hero .div_Text{
    width: 50%;
}
.hero .div_Text h4{
    color: var(--white_color);
    font-size: 34px;
    margin-bottom: 7px;
}

.hero .div_Text h1{
    font-size: 35px;
    margin-bottom: 3px;
}
.hero .div_Text h2{
    font-size: 19px;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 15px;
}
.hero .btn{
    font-size: 17px;
    padding: 8px 7px;
}



/* start about */

.about .container{
    background: var(--black_color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 5px;
    padding: 50px;
}
.about .div_text{
    width: 50%;
}
.about .div_text h5{
    color: var(--p_colo);
    font-size: 18px;
    text-transform: capitalize;
}
.about .div_text h2{
    font-size: 40px;
    margin: 14px 0 5px;
}
.about .div_text p{
    line-height: 1.8;
}
.about .div_img{
    width: 50%;
    height: auto;
}

/* stop Video */

.videos-strip-title1 {
  font-size: 22px;
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 30px;
    margin-top: 90px;
  color: white;
}

.videos-strip-emoji {
  width: 28px;
  height: 28px;
}

.videos-strip-container {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
}

.videos-strip-container::-webkit-scrollbar {
  display: none;
}

.videos-strip-card {
  display: inline-block;
  width: 250px;
  height: 160px;
  margin-right: 10px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
}

.videos-strip-card iframe {
  width: 100%;
  height: 100%;
  border: none;
}

.videos-strip-title1 {
    margin-right: 15px;
}

.Youtube1 {
    direction: rtl;
}

.videos-arrow {
    position: absolute;
    top: 160%;
    transform: translateY(-50%);
    font-size: 30px;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 10;
}
  
.videos-arrow.left {
    left: 10px;
}
  
.videos-arrow.right {
    right: 10px;
}


/* icons */


.dashboard45 {
    padding: 40px 20px;
}
  
.youtube-links45 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 40px;
}
  
.circle45 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
    transition: 0.3s;
}
  
.circle45:hover {
    transform: scale(1.1);
}
  
.features45 {
    display: flex;
    justify-content: center;
    gap: 80px;
    margin-bottom: 40px;
}
  
.feature45 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
.icon45 {
    width: 40px;
    height: 40px;
    margin-bottom: 10px;
}
  
.stats45 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    flex-wrap: wrap;
}
  
.stat45 p{
   color: white; 
}
.stat45 {
    min-width: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;      
}
  
.divider45 {
    width: 1px;
    height: 50px;
    background-color: #fdfffdb4;
}
  
.features45 p{
    color: white;
}

/* stop about */


section h1 {
    text-align: center;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
.slider12 {
    overflow: hidden;
    margin: 0 auto;
    border-radius: 160px;
    width: 750px;
    background-color: #f0f0f0;
    padding: 1.8rem;
    position: relative;
}
.brands {
    display: flex;
    align-items: center;
    gap: 19.55px;
    animation: scroll 17s linear infinite;
}
.brand-logo {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes scroll {
    0% {
        transform: translate3d(100%);
    }
    100% {
        transform: translateX(-100%);
    }
}




/* Start question */


.faq-container {
  max-width: 530px;
  margin: auto;
  font-family: sans-serif;
}

.faq-item {
  background-color: #111;
  border-radius: 12px;
  margin-bottom: 10px;
  overflow: hidden;
  transition: all 0.3s ease;
  color: #fff;
  cursor: pointer;
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px;
  background-color: #1b1b1b;
}

.faq-item.active .faq-header {
  background-color: #333;
}

.faq-question {
  font-size: 1.1rem;
}

.faq-arrow {
  font-size: 1.3rem;
  transition: transform 0.3s ease;
}

.faq-item.active .faq-arrow {
  transform: rotate(90deg);
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  background-color: #181818;
  font-size: 0.95rem;
  transition: max-height 0.3s ease, padding 0.3s ease;
}

.faq-item.active .faq-answer {
  max-height: 200px;
  padding: 15px 18px;
}


/* start projects */


.projects {
    text-align: center;
    padding: 100px 0px;
}
  
  .projects h2 {
    font-size: 28px;
    color: #fff;
    margin-bottom: 60px;
}
  
.video-grid85 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
}

.video-item85 iframe {
  width: 95%;
  height: 130px;
  border: none;
  border-radius: 9px;
}


/* stop video */

.top_section{
    text-align: center;
    margin-bottom: 100px;
}
.top_section h2{
    font-size: 30px;
}

/* start contact */

.contact .container{
    display: flex;
    justify-content: space-between;

}

.contact .top_section{
    margin-bottom: 40px;
}
.contact .soial_contact{
    width: 30%;
}
.contact .soial_contact h2{
    color: var(--white_color);
    margin-bottom: 40px;
}
.contact .soial_contact .links{
    display: flex;
    flex-direction: column;
}
.contact .soial_contact .links a{
    color: var(--white_color);
    font-size: 20px;
    margin-bottom: 25px;
    position: relative;
    left: 0;
    transition: 0.3s;
}

.contact .soial_contact .links a i{
    color: var(--bg_color);
    margin-right: 5px;
    width: 45px;
    height: 45px;
    background: var(--white_color);
    text-align: center;
    line-height: 45px;
    border-radius: 5px;
}
.contact .soial_contact .links a:hover{
    left: 15px;
}

.contact form{
    width: 60%;
    text-align: center;   
}

.contact form .inpts_form{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.contact form .inpts_form input,
.contact form .inpts_form textarea{
    border-radius: 5px;
    padding: 20px;
    outline: none;
    background-color: var(--bg_color);
    color: white;
    margin-bottom: 30px;
    border: 1px solid var(--border-color);
}
.contact form .inpts_form input{
    width: 48%;
}
.contact form .inpts_form textarea{
    width: 100%;
}
.contact form .inpts_form input:focus,
.contact form .inpts_form textarea:focus{
    border-color: var(--p_colo);
}
.contact .btn{
    outline: none;
    padding: 15px 35px;
    font-size: 17px;
    cursor: pointer;
    transition: 0.3s;
}
.contact .btn:hover{
    scale: 1.1;
}

/* stop contact */



.copyright p{
    display: flex;
    justify-content: center;
    color: #fff;
}


/* Start Responsive */

.close_menu{
    display: none;
}
header .links .logo{
    display: none;
}
.icon_menu{
    display: none;
}

@media (max-width:1250px) {
    .container{
        width: 90%;
    }
}

@media (max-width:1000px) {
    header nav .links{
        position: fixed;
        top: 0;
        flex-direction: column;
        width: 400px;
        background: var(--black_color);
        left: -400px;
        padding: 50px 0;
        height: 100%;
        border-right: 1px solid var(--border-color);
        text-align: center;
        transition: 0.3s ease-in-out;
    }
    header nav .links.active{
        left: 0;
    }
    .close_menu{
        display: block;
        font-size: 28px;
        position: absolute;
        top: 30px;
        right: 30px;
    }
    header .links .logo{
        display: block;
    }
    .icon_menu{
        display: block;
        font-size: 28px;
    }

@media (max-width:500px) {
    header nav .icons a{
        font-size: 20px;
    }
    header nav .icons{
        gap: 15px;
        align-items: center;
    }
    header nav .logo img{
        width: 150px;
    }
    header nav .links{
        width: 100%;
        left: -100%;
    }
    .icon_menu {
        margin-left: 15px;
    }
}


 /* Home */

 .back-video{
    position: absolute;
    height: 60%;
     top: -4px;
    right: 0;
    display: flex;
    object-fit: cover;
    z-index: -1;
 }

 .hero .div_Text h4{
    font-size: 25px;
 }
 .hero .div_Text h1{
    font-size: 22px;
 }
 .hero .div_Text h2{
    font-size: 14px;
 }
 .hero .btn {
    font-size: 10px;
    padding: 12px 20px;
 }
 .hero .container{
    flex-direction: column;

 }
 .hero .div_Text{
    width: 100%;
    margin-top: -70px;
    text-align: center;
    margin-bottom: 25px;
 }
 .hero .btns{
    justify-content: center;
 }
 .hero{
    height: auto;
 }

 .about .container{
    flex-direction: column;

 }
 .about .div_text{
    width: 100%;
    margin-bottom: 50px;
    
 }
 .about .div_text h2{
    font-size: 22px;
 }
 .about .div_text p {
    font-size: 14px;
 }

 .faq-container {
    max-width: 320px;
    margin: auto;
    font-family: sans-serif;
  }

 .contact .container{
    flex-direction: column;
 }
 .contact .soial_contact{
    width: 100%;
    margin-bottom: 40px;
 }
 .contact .soial_contact .links{
    flex-direction: row;
    flex-wrap: wrap;
 }
 .contact .soial_contact .links a{
    width: 50%;
 }
 .contact .soial_contact .links a{
    font-size: 85%;
 }
 .contact .soial_contact .links a i{
    width: 40px;
    height: 40px;
    line-height: 35px;
 }

 .contact form {
    width: 100%;
    margin: 0 auto;
 }
 .contact .btn{
    font-size: 16px;
    padding: 13px 28px;
 }

 .copyright .copy p {
    font-size: 12px;
 }


}



@media (max-width:500px){
    header nav .icons a{
        font-size: 25px;
    }
    header nav.icons{
        gap: 15px;
        align-items: center;
    }
    header nav.logo img{
        width: 150px;
    }
    header nav .links{
        width: 100%;
        left: -100%;
    }
    .icon_menu {
        margin-left: 5px;
        font-size: 25px;
    }
    
}


@media (max-width: 768px) {
    .slider12 {
        width: 95%;
        padding: relative;
    }
    .brands {
        gap: 15px;
        display: flex;
        animation: scroll 10s linear linfinite;
        width: fit-content;
    }
    .brand-logo {
        float: 0 0 auto;
    }
    @keyframes scroll {
        0% {
            transform: translateX(0%);
        }
        100% {
            transform: translateX(-50%);
        }
    }
}

@media (max-width: 768px) {
  .youtube-links45 {
    flex-wrap: nowrap;
    overflow-x: auto;
    justify-content: flex-start;
    gap: 10px;
  }

  .youtube-links45 a {
    flex: 0 0 auto;
    transform: scale(0.8);
    width: 70px;
  }

  .features45 {
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    transform: scale(0.9);
    justify-content: space-between;
  }

  .stats45 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .stat45 h2 {
    text-align: center;
  }

  .stat45 p {
    text-align: center;
  }
}

@media (max-width: 768px) {
    .videos-arrow {
      display: none;
    }
  }